<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<display-name>ToyShop-Servlet</display-name>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	
	<!-- Authentication method using FORM and JDBC Realm (any change in the DB will be immediately reflected for new authentication,
	except for those authenticated until the time that user logs on again) -->
	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/auth/login.jsp</form-login-page>
			<form-error-page>/auth/error.jsp</form-error-page>
		</form-login-config>
	</login-config>
    
    <security-role>
    	<role-name>Manager</role-name>
    </security-role>
    <security-role>
    	<role-name>Customer</role-name>
    </security-role>
    <security-role>
    	<role-name>Guest</role-name>
    </security-role>
    
    <security-constraint>
    	<display-name>Admin area</display-name>
    	<web-resource-collection>
			<web-resource-name>ToyShop Admin</web-resource-name>
    		<url-pattern>/adm/*</url-pattern>
    	</web-resource-collection>
    	
    	<auth-constraint>
    		<role-name>Manager</role-name>
    	</auth-constraint>
    </security-constraint>
</web-app>
